/* =============================== General Start ==============================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #edf1fd;
  color: #313131;
}

.loss {
  color: #df5f67;
}

.gain {
  color: #05b169;
}

/* ================================ General End =================================*/

/*================================= Header Start ================================*/

header .brand{
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  height: 3.5rem;
  background-color: #f9f9f9;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.1);
}

/* =========== Brand Name Start ============== */

.back-button {
  display:none;
}

.back-button .return-button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.left-header sup{
  font-size: 0.55rem;
}

img.logo {
  width: .9rem;
  height: .9rem;
  
}
.brand-name {
  text-shadow: -1px 1px 0 #eee,
                1px 1px 0 #eee,
                1px -1px 0 #eee,
               -1px -1px 0 #eee;
}

/* =========== Brand Name End ============== */

/* ============= Input Area Start=========== */

.center-header {
  position: relative;
  flex-basis: 50%;
  padding: 0.125rem 0.375rem;
  border: 1px solid #ccc;
  border-radius: 0.125rem;
  box-shadow: 0 2px 3px #eeeeee;
  background-color: #f9f9f9;
  color: #111111;
}

.searchAsset {
  display: inline-block;
  outline: none;
  border: none;
  padding: 0.0625rem 0.125rem;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 0rem;
  line-height: 1.5rem;
  background-color: #f9f9f9;
  max-width: calc((100% - 0.625rem) * 0.95);
  width: calc((100% - 0.625rem) * 0.95);
}

.clearInputValue {
 display: none;
 background-color: transparent;
 border: none;
 outline: none;
 margin-right: 0;
 max-width: calc((100% - 0.625rem) * 0.05);
 width: calc((100% - 0.625rem) * 0.05);
 text-align: right;
}

.fa-times{
 font-size: 0.9rem;
}

.searchResults {
  position: absolute;
  top: 2.7rem;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 111;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 3px #eee;
}

ul.coinList{
  list-style-type: none; 
}

li {
  padding: 0.2rem 0.65rem;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

li:last-child {
  border-bottom: 1px solid #ccc;
}

button.addAssetToWatchlist{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: .8rem;
  color: rgb(2, 2, 216);
}

button.addAssetToWatchlist:hover {
  text-decoration: underline;
}

.coin-detail {
  display: flex;
  align-items: center;
  justify-content: left;
}

.coin-name {
  display: inline-block;
  padding-left: .2rem;
}

.coin-symbol {
  display: inline-block;
  color:rgba(17, 51, 83, 0.6);
  padding-left: 0.5rem;
  text-transform: uppercase;
}

/* ============= Input Area End =============== */

/* ============= Right Part Header Start =============== */
.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.button-group button{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
  padding: 0 1.1rem; 
}

.notification-btn{
  position: relative;
}

.settings {
  padding-right: 0;
  position: relative;
}

#dropdown {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 2.3rem;
  right: 0;
  background-color: #777;
  width: 14rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  z-index: 50; 
}

#dropdown::before {
  content: ' ';
  position: absolute;
  top:-16px;
  right: 19px;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #777;
}

#dropdown .enable-btn {
  width: 42px;
  height: 15px;
  background-color: #ccc;
  border-radius: 12px;
  position: relative;
}

#dropdown .enable-btn::before{
  content: '';
  position: absolute;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: white;
  left: 0;
  top: -3px;
}

#dropdown .onState {
  width: 42px;
  height: 15px;
  background-color: #ccc;
  border-radius: 12px;
  position: relative;
}

#dropdown .onState::before {
   content: '';
  position: absolute;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: #2196F3;
  right: 0;
  top: -3px;
}

.search {
  display: none;
}

.profile{
    width: 1.9rem;
    height: 1.9rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic{
    display: inline-block;
    margin: 0 auto;
    margin-left: -25%; 
    height: 100%;   
}


.totalNotifications {
    display: none;
    position: absolute;
    right: 0.05rem;
    top: -.5rem;
    min-width: 1.4rem;
    font-size: .7rem;
    padding: 0.3rem 0.375rem 0rem 0.3rem;
    background-color:#f83a3e;
    color:#fff;
    border-radius: 0.3rem;
}

/* ============= Right Part Header End =============== */

/*================================ Header End ====================================*/

/*================================ Main Start ====================================*/


.watchlist, .major-assets, .global-data{
  position: relative;
  width: 100%;
  max-width: 90%;
  height: auto;
  margin: 1.5rem auto 0 auto;
  border: 2px solid rgb(236, 239, 241);
}

.major-assets, .global-data {
  margin-top: 2.1rem;
}

.major-assets::before , .watchlist::before, .global-data::before{
  content:'Top 5 Assets';
  text-shadow: 1px 0 0 rgba(a, a, a, 0.1); 
  position: absolute;
  padding: 0 2rem;
  top: -1rem;
  left: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  transform: translate(-50%,-5%);
  background-color: #edf1fd;
}

.watchlist::before {
  content:'Watchlist';
  
}

.global-data::before {
  content:'Global Data';
  
}

/*=============== Empty Watchlist Display Area Start =============*/
.empty-table {
  display: none;
  position: relative;
  margin: 1.5rem auto auto auto;
  height: 60vh;
  background-color: transparent;
  border-radius: 2px;
  width: 90%;
}

.emptyWatchlist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  margin: auto;
  text-align: center;
}

.emptyWatchlist p {
  color: rgba(26,26,26,0.5); 
  font-size: 0.8rem;
  padding: 0.9rem 0;
}

.emptyWatchlist p.first-line{
  font-size: 1.2rem;
  padding-top: 1.25rem;
  letter-spacing: 0.5px;
  color:#444;
}

.image-container{
 max-width: 10rem;
 min-width: 7rem;
 height: auto;
 margin: auto;
}

.image-container img {
  width: 100%;
  filter: grayscale(100%);
}
/*=============== Empty Watchlist Display Area End ===============*/


/*========================= Table Start ======================*/
table.assets-table {
  width: 100%;
  max-width: 90%;
  margin: auto;
  margin-top: 2rem;
  border: 1px solid rgb(236, 239, 241);
  background-color: #f7f7f7;
  border-collapse: seperate;
  border-radius: 0.35rem;
  border-spacing: 0;
  box-shadow: 0 0.25rem 0.75rem 0 rgba(17,51,83,0.3); 
}

  th, td {
    padding: 0.9rem;
    text-align:left;
    border-bottom: 1px solid rgb(236, 239, 241);
  }
 
  th {  
    font-size: 0.85rem;
    font-weight: 300;
    color: rgba(17, 51, 83, 0.6);
  }

  tr:nth-last-child {
   border: none;
  }
  tr td:last-child {
    width: 10%;
  }

  .change1 {
    font-size: 0.85rem;
  }

/*======== Table-First-Column(Coin) Start ==========*/

.coin {
  display: flex;
  align-items: center;
  justify-content: left;
  
}

.icon {
  width: 2.25rem;
  height: 2.25rem;
}

.icons {
  width: 1.8rem;
  height: 1.8rem;
}

.symbol {
  color:rgba(17, 51, 83, 0.6);
  text-transform: uppercase;
}


/*======== Table-First-Column(Coin) Finish ==========*/


/*======== Table- 5th & 6th Columns Start ==========*/

.status {
  position: relative;
}
.target-price {
  font-size: 0.67rem;
}


/* ======== Table- 5th & 6th Columns End ========== */


/*======== Table-Fifth-Column(Actions) Start ==========*/

button.removeAssetsFromWatchlist {
  outline: none;
  border: none;
  width: 100%;
  background-color: #d9534f;
  font-size: 0.8rem;
  border-radius: 2rem;
  color: white;
  padding: 0.5rem 0.9rem;
  box-shadow: 0 0.25rem 0.75rem 0 rgba(17,51,83,0.3);
}

button.removeAssetsFromWatchlist:hover{
  background-color: #d6130d;
}

/*======== Table-Fifth-Column(Actions) End ==========*/

/*======================= Table Finish ==========================*/

/*======== Owl Carousel Start ==========*/
.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem auto 0 auto;
  text-align: center;
  max-width: 90%;
  padding:0;
}

.slider .card {
  flex: 1;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 7px;
  margin: 10px 10px;
}

.card .img{
  width: 100%;
  height: auto;
  padding: 10px;
}

.img img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
}
.card .content {
  padding: 10px;
}
.card .content .asset-symbol {
  color:#333;
  font-size: 18px;
  font-weight: 600;
}
.card .content .asset-price {
  margin-top: 1rem;
  font-size: 26px;
  font-weight: 600;
}

.content .asset-symbol .asset-change {
  font-size: 14px;
  font-weight: 500;
}
/*======== Owl Carousel End ==========*/ 

/*======== Global Data Section Start ==========*/
.global-container {
  max-width: 90%;
  margin: 2rem auto;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  padding: 1.2rem;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
}

.marketlogo-container .global-icon {
    width: 7%;
    height: 7%;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-radius: 50%;
} 

.global-details {
  display: flex;
  justify-content: space-evenly;
}

.boldFont {
  font-weight: 700;
}

.market-cap, .dominance, .dayVolume {
margin-top: 1.5rem;
}

.market-cap {
  font-size: 1.5rem;
}

.dayVolume, .downColor, .upColor {
  font-size: 1.2rem;
}

.downColor {
 color:#e15241;
}

.upColor{
  color:#4eaf01;
}

.lightBlue {
  color: #00bbd4;
}

/*======== Global Data Section End ==========*/

/*======== Add Asset Modal Box To Start ==========*/

.modalBox {
  display: none;  
  position: fixed; 
  z-index: 111; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  text-align: center;
  overflow: auto; 
  /* rgba(0, 0, 0, 0.6); */
  background-color: rgba(92, 95, 236, 0.6);
  padding-top: 5.5rem;
}

.closeBox {
  position: absolute;
  right: 2.1rem;
  top: 1rem;
  font-size: 1.9rem;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
}

.closeBox:hover {
  color: #000;
}

.emptyBox:hover{
  color: #000;
}

.formBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 1rem;
  margin: auto;
  border: 1px solid #777;
  width: 100%;
  max-width: 22.5rem;
  margin: auto;
}

.formBox .top-container {
  margin-bottom: 1.5rem;
}

.top-container .coin-price {
  font-size: 1.8rem;
}

.action-container {
  margin-top: 1.2rem;
}

hr {
  border: 1px solid rgb(236, 239, 241);
  margin-bottom: 0.5rem;
}

input[type=number] {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  border: none;
  text-indent: 3.2rem;
  border-radius: .3rem;
  background-color: #f1f1f1;
  -moz-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

.inputDiv{
  position: relative;
}

span.poundSign{
  position: absolute;
  display: inline-block;
  color: black;
  font-weight: 700;
  padding: 0.6rem 1.25rem;
  margin: 0.5rem 0;
  top:0.05rem;
  bottom: 0.1rem;
  left:0.1rem;
  width: 20%;
  border-radius: .3rem 0 0 .3rem;
  background-color: rgb(182, 180, 180);
} 

select {
  padding: 0.4rem 0.9rem;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  font-size: 0.8rem;
}

select:hover{
  border: 1px solid #696969;
}

.alert {
  margin: 1rem auto auto auto;
}

.alert h3 {
  margin-bottom: 1.9rem;
}

label {
  font-size: .8rem;
}

.top-container .coin-name {
   text-transform: capitalize;
   margin-bottom: 0.8rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

span.change {
  font-size: 1rem;
  font-weight: 500;
}

button.createAlert {
  width: 100%;
  outline: none;
  border: none;
  background-color: rgb(5, 177, 105);
  color: #fff;
  padding: 12px 14px;
  border-radius: .3rem;
}

button.remove-alert {
  display: inline-block;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

/*======== Add Asset Modal Box End ========== */


/* =========== Price Alert Modal Start ========= */
.priceAlertModal {
  display: none;  
  position: fixed; 
  z-index: 1111; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color:#e6e6e6;
  text-align: center;
  padding-top: 5.5rem;
  
}

.emptyBox {
  position: absolute;
  left: 2.1rem;
  top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.priceAlertModal .closeBox, .priceAlertModal .emptyBox{
  color: #1ebba1
}

.priceAlertModal .closeBox:hover, .priceAlertModal .emptyBox:hover {
 color: #111111
}

.alertBox {
    max-width: 30rem;
    width: 92%;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 1.2rem;
    margin: auto auto 0.9rem auto;
    box-shadow: 2px 2px 3px #b6b6b6;
    line-height: 1.5;
    color: #111111
}

.alertBox h3 {
  letter-spacing: 0.5px;
}

.date-time{
  font-size: 0.7rem;
  color: #1d1d1d;
}

.bell-container {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bell-container img{
  width: 60%;
}

.bell-container p {
  font-size: 1.5rem;
  letter-spacing: .1rem;
  margin-top: 1.5rem;
}
/* =========== Price Alert Modal End =========== */

/*================================ Main End ====================================*/


/* =============================== Footer Start =================================*/
  

  .copyright {
    text-align: center;
    width: 100%;
    font-size: 0.7rem;
    padding-bottom: .25rem;
    color:black;
  }
 

/* =============================== Footer End ===================================*/

/* =============================== Media Queries Start ===================================*/

@media only screen and (max-width: 768px) {
    
  div.center-header {
    display: none; 
    flex-basis: 94%;
  }
  
  div.right-header .search {
    display: block;
  }

}

@media only screen and (max-width: 700px) {
  .hideColumn {
    display: none;
  }

  .major-assets::before , .watchlist::before, .global-data::before{
    text-shadow: 1px 0 0 rgba(a, a, a, 0.1); 
    position: absolute;
    top: -0.5rem;
    left: 50%;
    font-size: 1rem;
    font-weight: 600;
    transform: translate(-50%,-5%);
    background-color: #edf1fd;
  }
  
  .coin div {
    font-size: .9rem;
  }

  .coin .assetName {
    display: none
  }
  .coin .icon {
    width: 2rem;
    height: 2rem
  }
  .alertStatus {
    font-size: 0.9rem;
  }

  .state {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .market-cap {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .market-cap span {
    padding: 5px;
  }
}

@media only screen and (max-width: 768px) {
  input[type="text"], input[type="number"], select:focus {
    font-size: 16px;
  }
}